<div class="container">

  <div class="row">
    <div class="col-md-6 offset-md-3" style="margin-top:30px;">
       
        <mat-card class="example-card">
            <h4>Add your notes</h4>
            <hr>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="title" name="title" placeholder="Notes Title" value="Sushi">
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <textarea matInput [(ngModel)]="desc" name="desc"  placeholder="Notes Description"></textarea>
            </mat-form-field>
           
                <button mat-raised-button color="accent" *ngIf="!updateState" (click)="add(title,desc);">Add Note</button>
                <button mat-raised-button color="primary" *ngIf="updateState" (click)="updateNotes(title,desc);">Update Note</button>
          </form>
        </mat-card>
    </div>

    <div class="col-md-6 offset-md-3" style="margin-top:30px;">
        <mat-card class="example-card">
            <mat-nav-list>
                <mat-list-item *ngFor="let notes of notesArray">
       
                  <h3 matLine> {{notes.title}} </h3>
                  <p matLine>
                    <span> {{notes.desc}} </span>
                  </p>
                  <p class="text-right" matLine><button mat-button color="warn" (click)="delete(notes.id)">
                      Delete
                   </button>
                   <button mat-button color="warn" (click)="update(notes.id,notes.title,notes.desc)">
                      Update
                   </button></p>
                </mat-list-item>
              </mat-nav-list>
        </mat-card>
    </div>
     
  </div>
  
</div>